<section class="flat-row no-padding-bottom">
    <div class="container-fluid">
        <div class="new-bottom">
            <div class="row">
                <div class="news-letter">                       
                    <h1 class="title">WE BELIEVE THAT EDUCATION IS FOR EVERYONE</h1>
                    <h4>There are many features available to help you complete your project</h4>
                </div>
                <div class="img-news">
                    <img src="/assets/images/about/index1/11.jpg" alt="image">
                </div>
            </div>
        </div>    
    </div>
</section>