<section class="flat-row full-color">
    <div class="container">                
        <div class="row">
            <div class="col-md-12">
                <div class="flat-reviews">
                    <div class="flat-causes">
                        <div class="featured-causes" data-item="3" data-nav="false" 
                            data-dots="false" data-auto="false">
                            <div class="item">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit metus vel leo placerat cursus. Nullam rutrum velit eget quam pretium vehicula. Maecenas enim velit.</p>
                                </div>

                                <div class="title-testimonial">
                                    <div class="thumb-title">
                                        <img src="/assets/images/member/1.jpg" alt="image">
                                    </div>
                                    <div class="post-title">
                                        <h6 class="title-post">John Doe</h6>
                                        <span>Professor</span>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit metus vel leo placerat cursus. Nullam rutrum velit eget quam pretium vehicula. Maecenas enim velit.</p>
                                </div>
                                <div class="title-testimonial">
                                    <div class="thumb-title">
                                        <img src="/assets/images/member/2.jpg" alt="image">
                                    </div>
                                    <div class="post-title">
                                        <h6 class="title-post">Mr.John</h6>
                                        <span>Professor</span>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit metus vel leo placerat cursus. Nullam rutrum velit eget quam pretium vehicula. Maecenas enim velit.</p>
                                </div>
                                <div class="title-testimonial">
                                    <div class="thumb-title">
                                        <img src="/assets/images/member/3.jpg" alt="image">
                                    </div>
                                    <div class="post-title">
                                        <h6 class="title-post">Vicky</h6>
                                        <span>Professor</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>     
            </div>
        </div>  
    </div>
</section><!-- /flat-row -->