<div class="page-title parallax parallax2">
    <div class="container">
        <div class="flat-university">
            <div class="post">
                <h1 class="title">FOR THOSE WHO NEVER STAND STILL. DON’T SAY NEXT YEAR, SAY NOW!</h1>
            </div><!--/post -->

            <div class="button-university">
                <a class="flat-button color-v2" href="#3" data-delay="0">BUY THIS THEME</a>
            </div><!--/button-university -->
        </div><!--/flat-university -->
    </div><!--/container -->        
</div><!--/page-title -->