<div class="page-title parallax parallax1">
    <div class="container">
        <div class="flat-university">
            <div class="post">
                <h1 class="title">UNIVERSITY CAMPUSES AROUND THE WORLD</h1>
            </div><!--/post -->

            <div class="box-university">
                <div class="row">
                    <div class="col-md-4">
                        <div class="item-post">
                            <div class="content-box">
                                <img src="/assets/images/about/index1/8.jpg" alt="image">
                            </div>
                            <div class="title-box">
                                <h4>New York Campus</h4>
                                <p>294 Main Street, Brooklyn, 01102</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item-post">
                            <div class="content-box">
                                <img src="/assets/images/about/index1/9.jpg" alt="image">
                            </div>
                            <div class="title-box">
                                <h4>Europe Campus</h4>
                                <p>585, 08007 Barcelona, Spain</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item-post">
                            <div class="content-box">
                                <img src="/assets/images/about/index1/10.jpg" alt="image">
                            </div>
                            <div class="title-box">
                                <h4>Singapore Campus</h4>
                                <p>21 Lower Kent Ridge Rd, Singapore 119077</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/box-university -->

            <div class="button-university">
                <a class="flat-button color-v1" href="#3" data-delay="0">VIEW COURSES <i class="fa fa-angle-right"></i></a>
                <p>OR</p>
                <a class="flat-button color-v2" href="#3" data-delay="0">CAMPUS TOUR <i class="fa fa-angle-right"></i></a>
            </div><!--/button-university -->
        </div><!--/flat-university -->
    </div><!--/container -->        
</div><!--/page-title -->