<section class="flat-row padding-small">
    <div class="container">
        <div class="flat-choose-us">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="flat-accordion">
                        <div class="name-toggle">
                            <h2 class="title">Why Choose Us</h2>
                        </div>
                        <div class="flat-toggle">
                            <div class="toggle-title active">Build Your Own Homepage With Visual Composer</div>
                            <div class="toggle-content">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>                                
                            </div>
                        </div><!-- /toggle -->
                        <div class="flat-toggle">
                            <div class="toggle-title">Clean, Beautiful And Responsive Design</div>
                            <div class="toggle-content">
                                <div class="info">                                    
                                    <p class="desc-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div><!-- /.toggle -->
                        <div class="flat-toggle">
                            <div class="toggle-title">U-Event Plugin Allow You To Sell Ticket</div>
                            <div class="toggle-content">
                                <div class="info">                                    
                                    <p class="desc-info">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                                </div>
                            </div>
                        </div><!-- /.toggle -->
                        <div class="flat-toggle">
                            <div class="toggle-title">Sell Courses With U-Course Plugin</div>
                            <div class="toggle-content">
                                <div class="info">                                    
                                    <p class="desc-info">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                                </div>
                            </div>
                        </div><!-- /.toggle -->

                        <div class="flat-toggle">
                            <div class="toggle-title">Shop Version Available With Woo Commerce Integrated</div>
                            <div class="toggle-content">
                                <div class="info">                                    
                                    <p class="desc-info">Empty section. Edit page to add content here.</p>
                                </div>
                            </div>
                        </div><!-- /.toggle -->

                        <div class="flat-toggle">
                            <div class="toggle-title">Professional Look and Feel For Your Business</div>
                            <div class="toggle-content">
                                <div class="info">                                    
                                    <p class="desc-info">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus</p>
                                </div>
                            </div>
                        </div><!-- /.toggle -->
                    </div><!-- /.accordion -->
                </div><!--/col-md-6 col-sm-6 -->

                <div class="col-md-6 col-sm-6">
                    <div class="flat-blog">
                        <div class="section-header">
                            <div class="name-blog">
                                <h2 class="title">Blog</h2>
                                <a class="flat-button button-right" href="#2">VISIT BLOG <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>    
                        
                        <div class="section-body">
                            <div class="row">
                                <div class="col-md-12 shortcode-blog-item">
                                    <div class="content-pad">
                                        <div class="post-item row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="item-thumbnail">
                                                        <a href="#">
                                                            <img src="/assets/images/about/index1/blog/1.jpg" alt="image">
                                                            <span class="thumbnail-overlay">June 3, 2014</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="item-content">
                                                        <h3 class="item-title">
                                                            <a href="#" title="Your Career Starts Here" class="main-color-1-hover">Your Career Starts Here</a>
                                                        </h3>
                                                        <div class="shortcode-blog-excerpt">On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized.</div>
                                                        <div class="item-meta">
                                                        <a class="flat-button" href="#" title="Your Career Starts Here">DETAILS <i class="fa fa-angle-right"></i></a>
                                                        <a href="#" class="main-color-1-hover" title="View comments">0 COMMENTS</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/post-item-->
                                    </div>
                                </div><!--/shortcode-blog-item-->

                                <div class="col-md-12 shortcode-blog-item">
                                    <div class="content-pad">
                                        <div class="post-item row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="item-thumbnail">
                                                        <a href="#">
                                                            <img src="/assets/images/about/index1/blog/2.jpg" alt="image">
                                                            <span class="thumbnail-overlay">June 3, 2014</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="item-content">
                                                        <h3 class="item-title">
                                                            <a href="#" title="Spark Of Genius" class="main-color-1-hover">Spark Of Genius</a>
                                                        </h3>
                                                        <div class="shortcode-blog-excerpt">To take a trivial example which of us ever undertakes laborious physical exercise except.</div>
                                                        <div class="item-meta">
                                                            <a class="flat-button" href="#" title="Spark Of Genius">DETAILS <i class="fa fa-angle-right"></i></a>
                                                            <a href="#" class="main-color-1-hover" title="View comments">0 COMMENTS</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/post-item-->
                                    </div>
                                </div><!--/shortcode-blog-item-->
                            </div><!--/row-->
                        </div>
                    </div>
                </div><!--/col-md-6 col-sm-6 -->
            </div>
        </div>    
    </div>
</section>