<div id="bottom-nav">
    <div class="container">
        <div class="link-center">
            <div class="line-under"></div>
            <a class="flat-button go-top-v1 style1" href="#top">TOP</a>
        </div>
        <div class="row footer-content">
            <div class="copyright col-md-6">
                &copy; 2019 - {{ site.time | date: "%Y" }} <strong>brijx.co</strong>. All rights reserved.
            </div>
            <nav class="col-md-6 footer-social">
                <ul class="social-list">
                    <li>
                        <a href="#" class="btn btn-default social-icon">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default social-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>    
                        <a href="#" class="btn btn-default social-icon">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default social-icon">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div><!--/row-->
    </div><!--/container-->
</div>