<section class="flat-row no-padding">
    <div class="flat-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="post">
                        <h1 class="title">UNIVERISTY THEME</h1>
                        <p>University is an simple yet complete solution for you to build an education or online course, training website. The design is innovative and supper modern so you will have a professional web page.</p>
                        <a class="flat-button button-button_30 btn-default " href="#" data-delay="0">BUY THIS THEME <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="post">
                        <h1 class="title">TOP 10 RANKED</h1>
                        <p>Our education services ranked top 10 all over the world by most recognized organizations. We provide courses from finance, social studies, economics, enginereering to computer science and programing.</p>
                        <a class="flat-button button-button_30 btn-default " href="#" data-delay="0">PURCHASE NOW <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="post">
                        <h1 class="title">GLOBAL RECOGNIZE</h1>
                        <p>It is the fact that this theme is loved by more than 100o customers around the world. We believe that this is the best solution for your Education Business. Please view 9 demos version for full feature list.</p>
                        <a class="flat-button button-button_30 btn-default " href="#" data-delay="0">PURCHASE NOW <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div><!--/row--> 
        </div><!--/flat-fluid-->  
    </div><!--/container-->
</section><!--/flat-row -->