<!-- Javascript -->
<script type="text/javascript" src="/assets/javascript/jquery.min.js"></script>
<script type="text/javascript" src="/assets/javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery.easing.js"></script>
<script type="text/javascript" src="/assets/javascript/smoothscroll.js"></script>
<script type="text/javascript" src="/assets/javascript/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/javascript/parallax.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery-waypoints.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery.tweet.min.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery-validate.js"></script> 

<!-- Revolution Slider -->
<script type="text/javascript" src="/assets/javascript/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/javascript/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/assets/javascript/slider.js"></script>

<script type="text/javascript" src="/assets/javascript/switcher.js"></script> 
<script type="text/javascript" src="/assets/javascript/jquery.cookie.js"></script> 
<script type="text/javascript" src="/assets/javascript/main.js"></script>