<div class="tp-banner-container">
    <div class="tp-banner" >
        <ul>
            <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="/assets/images/slides/1.jpg" alt="slider-image">

                <div class="tp-caption sft desc-slide center color-white color-full" data-x="770" data-y="479" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                    <div class="title main-color-1 font-2">For A Better Education Theme</div>
                    <div class="content">Search no more! What you ever want for an education website is here</div>
                </div>

            </li>

            <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="/assets/images/slides/2.jpg" alt="slider-image">

                <div class="tp-caption sft desc-slide center color-white color-full" data-x="770" data-y="479" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                    <div class="title main-color-1 font-2">Best Campus Facility In The World</div>
                    <div class="content">We offer the best infrastructure to give you the best opportunities and comfort during your study.</div>
                </div>
            </li>
        </ul>
    </div>
</div> <!-- /.tp-banner-container -->

<div class="header-overlay-content header-overlay-scroller">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <section class="un-post-scroller un-post-scroller-2901 " data-delay="0">
                    <div class="section-inner-no-padding">
                        <div class="post-scroller-wrap verticalCarousel">
                            
                            <div class="post-scroller-carousel ">
                                <div class="post-scroller-carousel-inner verticalCarouselGroup vc_list">
                                    <div class="item post-scroller-item active">
                                        <div class="scroller-item-inner">
                                            <div class="scroller-item-content post-item-mini">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4 post-thumbnail-mini">
                                                        <div class="item-thumbnail">
                                                            <a href="#">
                                                                <img src="/assets/images/about/index1/1.jpg" alt="image">
                                                                <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                <div class="thumbnail-hoverlay-cross"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-xs-8 post-content-mini">
                                                        <h4><a class="post-title-mini main-color-1-hover" href="http://university.cactusthemes.com/video-post/" title="Your Career Starts Here">Your Career Starts Here</a></h4>
                                                        <div class="post-excerpt-mini">On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized.</div>
                                                    </div>
                                                </div>
                                            </div><!--/post-item-mini-->
                                        </div>
                                    </div><!--/post-scroller-item-->

                                    <div class="item post-scroller-item">
                                        <div class="scroller-item-inner">
                                            <div class="scroller-item-content post-item-mini">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4 post-thumbnail-mini">
                                                        <div class="item-thumbnail">
                                                            <a href="#">
                                                                <img src="/assets/images/about/index1/2.jpg" alt="image">
                                                                <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                <div class="thumbnail-hoverlay-cross"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-xs-8 post-content-mini">
                                                        <h4><a class="post-title-mini main-color-1-hover" href="http://university.cactusthemes.com/gallery-post/" title="Spark Of Genius">Spark Of Genius</a></h4>
                                                        <div class="post-excerpt-mini">To take a trivial example which of us ever undertakes laborious physical exercise except.</div>
                                                    </div>
                                                </div>
                                            </div><!--/post-item-mini-->
                                        </div>
                                    </div><!--/post-scroller-item-->

                                    <div class="item post-scroller-item">
                                        <div class="scroller-item-inner">
                                            <div class="scroller-item-content post-item-mini">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4 post-thumbnail-mini">
                                                        <div class="item-thumbnail">
                                                            <a href="#">
                                                                <img src="/assets/images/about/index1/3.jpg" alt="image">
                                                                <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                <div class="thumbnail-hoverlay-cross"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-xs-8 post-content-mini">
                                                        <h4><a class="post-title-mini main-color-1-hover" href="http://university.cactusthemes.com/the-highest-ranked-university/" title="University Ranking">University Ranking</a></h4>
                                                        <div class="post-excerpt-mini">Some People and Students in front of the new and futuristic building of the University of Economics and Business in Vienna.</div>
                                                    </div>
                                                </div>
                                            </div><!--/post-item-mini-->
                                        </div>
                                    </div><!--/post-scroller-item-->

                                    <div class="item post-scroller-item">
                                        <div class="scroller-item-inner">
                                            <div class="scroller-item-content post-item-mini">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4 post-thumbnail-mini">
                                                        <div class="item-thumbnail">
                                                            <a href="#">
                                                                <img src="/assets/images/about/index1/4.jpg" alt="image">
                                                                <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                <div class="thumbnail-hoverlay-cross"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-xs-8 post-content-mini">
                                                        <h4><a class="post-title-mini main-color-1-hover" href="http://university.cactusthemes.com/standard-post-2/" title="Our New Campus">Our New Campus</a></h4>
                                                        <div class="post-excerpt-mini">Nor again is there anyone who loves or pursues or desires to obtain pain of itself but because occasionally circumstances.</div>
                                                    </div>
                                                </div>
                                            </div><!--/post-item-mini-->
                                        </div>
                                    </div><!--/post-scroller-item-->

                                    <div class="item post-scroller-item">
                                        <div class="scroller-item-inner">
                                            <div class="scroller-item-content post-item-mini">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4 post-thumbnail-mini">
                                                        <div class="item-thumbnail">
                                                            <a href="#">
                                                                <img src="/assets/images/about/index1/5.jpg" alt="image">
                                                                <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                <div class="thumbnail-hoverlay-cross"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-xs-8 post-content-mini">
                                                        <h4><a class="post-title-mini main-color-1-hover" href="http://university.cactusthemes.com/education-organization-theme/" title="Education Organization Theme">Education Organization Theme</a></h4>
                                                        <div class="post-excerpt-mini">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum equal blame belongs.</div>
                                                    </div>
                                                </div>
                                            </div><!--/post-item-mini-->
                                        </div>
                                    </div><!--/post-scroller-item-->

                                    <div class="item post-scroller-item">
                                        <div class="scroller-item-inner">
                                            <div class="scroller-item-content post-item-mini">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4 post-thumbnail-mini">
                                                        <div class="item-thumbnail">
                                                            <a href="#">
                                                                <img src="/assets/images/about/index1/6.jpg" alt="image">
                                                                <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                <div class="thumbnail-hoverlay-cross"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-xs-8 post-content-mini">
                                                        <h4><a class="post-title-mini main-color-1-hover" href="http://university.cactusthemes.com/summer-is-coming/" title="Summer Is Coming">Summer Is Coming</a></h4>
                                                        <div class="post-excerpt-mini">Except to obtain some advantage from quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam.</div>
                                                    </div>
                                                </div>
                                            </div><!--/post-item-mini-->
                                        </div>
                                    </div><!--/post-scroller-item-->

                                    <div class="item post-scroller-item">
                                        <div class="scroller-item-inner">
                                            <div class="scroller-item-content post-item-mini">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4 post-thumbnail-mini">
                                                        <div class="item-thumbnail">
                                                            <a href="#">
                                                                <img src="/assets/images/about/index1/7.jpg" alt="image">
                                                                <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                <div class="thumbnail-hoverlay-cross"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-xs-8 post-content-mini">
                                                        <h4><a class="post-title-mini main-color-1-hover" href="http://university.cactusthemes.com/blog-post-3/" title="Visiting Our Campus">Visiting Our Campus</a></h4>
                                                        <div class="post-excerpt-mini">who loves or pursues or desires lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod.</div>
                                                    </div>
                                                </div>
                                            </div><!--/post-item-mini-->
                                        </div>
                                    </div><!--/post-scroller-item-->
                                </div>
                            </div>
                            <div class="verticalCarouselHeader">
                                <a href="#" class="vc_goDown btn btn-primary post-scroller-button post-scroller-down"><i class="fa fa-angle-down"></i></a>
                                <a href="#" class="vc_goUp btn btn-primary post-scroller-button post-scroller-up"><i class="fa fa-angle-up"></i></a>
                            </div>
                        </div>
                    </div><!--/section-inner-->
                </section><!--/u-post-carousel-->
            </div>
        </div>
    </div>
</div>